@model ScrubbyWeb.Models.Data.ScrubbyUser

@{
    ViewData["Title"] = $"{Model.PhpBBUsername}";
}

<script>var clipboard = new ClipboardJS('.copy-link');</script>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">Gateway</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">@($"{Model.PhpBBUsername}")</li>
    </ol>
</nav>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-auto mb-3">
            <div style="text-align: center;" >
                <h1>@(Model.PhpBBUsername)</h1>
                <a asp-controller="Auth" asp-action="Logout" class="badge badge-warning align-top">Logout</a>
            </div>
        </div>
    </div>
</div>

<h3>Basic Info</h3>
<ul class="list-group">
    <li class="list-group-item list-group-item-action">
        <div class="container">
            <div class="row">
                <div class="col vert-right text-right col-1">
                    <p class="text-muted mb-0">TG Data</p>
                </div>
                <div class="col">
                    <b>Forum Username: </b> @Model.PhpBBUsername <br/>
                    <b>Byond Key: </b> @Model.ByondKey <br/>
                    <b>Byond CKey: </b> @Model.ByondCKey <br/>
                </div>
            </div>
        </div>
    </li>
    <li class="list-group-item list-group-item-action">
        <div class="container">
            <div class="row">
                <div class="col vert-right text-right col-1">
                    <p class="text-muted mb-0">Scrubby Data</p>
                </div>
                <div class="col">
                    <p class="mb-0">
                        <b>Roles: </b> @(string.Join(", ", Model.Roles)) <br/>
                    </p>
                </div>
            </div>
        </div>
    </li>
</ul>